.card-info {
    display: flex;
    align-items: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 15px;
}
.card-info__icon {
    margin-right: 20px;
}
.carf-info__title {
    font-weight: 700;
}