.contacts {
    position: relative;
    padding-top: 200px;
    padding-bottom: 55px;
    background-image: url(../../img/icons/Bg.svg);
    background-size: cover;
    color: #fff;

    &::before{
        position: absolute;
        bottom: 0;
        left: 40%;
        content: '';
        display: block;
        width: 743px;
        height: 372px;
        background-image: url(../../img/icons/Oval-dawn.svg);
        background-size: initial;   
    }

    &::after{
        position: absolute;
        bottom: 0;
        left: 40%;
        content: '';
        display: block;
        width: 478px;
        height: 547px;
        margin-left: 79px;
        background-image: url(../../img/photo/girl.png);
        background-size: initial;
    }
}
.contacts__info {
    max-width: 360px;
}
.contact__title{
    margin-bottom: 15px;
    color: #fff;
}
.contact__text{
    max-width: 342px;
    margin-bottom: 30px;
}

